.container {
	display: flex;
	padding: 24px 0;
	width: 1200px;
	margin: 0 auto;
}

.left {
	flex: 0.15;

	.buttonFullWidth {
		width: 100%;
	}
}

.right {
	overflow: hidden;
	flex: 1;
	margin-left: 50px;
}

